.destination-page__background {
  background-image: url(../../../assets/destination/background-destination-mobile.jpg);
}

.destination-name {
  font-size: var(--heading-2);
}

.destination-info {
  font-size: 1.75rem;
  margin-bottom: 1.15rem;
}

.destination-tab {
  gap: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}

.destination-tab-btn {
  text-transform: uppercase;
  font-family: var(--ff-mono);
  font-size: var(--text-base);
  letter-spacing: 2.36px;
  color: var(--clr-primary);
  padding-bottom: 0.25rem;
  position: relative;
}

.destination-tab-btn::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--clr-light);
  opacity: 0;
}

.destination-tab-btn.active {
  color: var(--clr-light);
}

.destination-tab-btn.active::after {
  opacity: 1;
}

.destination-tab-btn:hover::after {
  opacity: 0.5;
}

.destination-page .underline {
  margin-block: 2rem;
}

@media (min-width: 40rem) {
  .destination-page {
    margin-top: 2.5rem;
  }

  .destination-page__background {
    background-image: url(../../../assets/destination/background-destination-tablet.jpg);
  }

  .destination-details {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-inline: auto;
  }

  .destination-tab {
    gap: 2rem;
    margin-top: 3.25rem;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 80rem) {
  .destination-page__background {
    background-image: url(../../../assets/destination/background-destination-desktop.jpg);
  }

  .destination-page {
    margin-top: 7.25rem;
  }

  .destination-tab {
    text-align: left;
    margin-top: 0;
  }

  .destination-page .page__content {
    margin-left: 4rem;
  }

  .destination-details {
    width: 100%;
  }

  .destination-details > div {
    width: 50%;
  }
}
