.bg-home {
  background-image: url(../../../assets/home/background-home-mobile.jpg);
}

.main-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2.7px;
  margin-block: 1em;
  font-weight: 400;
}

.main-heading span {
  font-family: var(--ff-headline);
  font-size: var(--fs-900);
  color: var(--clr-light);
  line-height: 1.25;
  display: block;
  margin-top: 0.2em;
}

.large-btn {
  font-family: var(--ff-headline);
  font-size: var(--fs-btn);
  font-weight: 400;
  letter-spacing: 1.25px;
  color: var(--clr-dark);
  padding: 3em 1.3em;
  border-radius: 50%;
  background-color: var(--bg-light);
  margin-block: 2em;
  text-align: center;
}

@media (min-width: 640px) {
  .homepage {
    margin-top: 6em;
  }

  .bg-home {
    background-image: url(../../../assets/home/background-home-tablet.jpg);
  }

  .main-heading {
    letter-spacing: 3.375px;
  }
}

@media (min-width: 1024px) {
  .bg-home {
    background-image: url(../../../assets/home/background-home-desktop.jpg);
  }

  .main-heading {
    letter-spacing: 4.725px;
  }
}
