.nav__container {
  display: grid;
  grid-template-columns:
    1fr
    calc(100% - (var(--container-padding) * 2))
    1fr;
  max-width: 96rem;
  margin-inline: auto;
}

.nav {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.nav__menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 66.66%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s;
}

.nav--open .nav__menu {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
  z-index: 10;
}

.nav__btn {
  cursor: pointer;
  z-index: 15;
  color: var(--clr-light);
}

.nav__list {
  padding-inline: 2rem;
  padding-top: 7.375rem;
  display: flex;
  flex-direction: column;
}

.nav__link {
  font-family: var(--ff-mono);
  font-size: var(--text-sm);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--clr-light);
  text-decoration: none;
  letter-spacing: 2.7px;
  line-height: 1.2;
  padding-block: 1rem;
  display: block;
}

.nav__link span {
  margin-right: 0.75em;
  font-weight: 700;
}

@media (min-width: 40rem) {
  .nav {
    grid-column: 2 / -1;
    padding-block: 0;
  }

  .nav__menu {
    visibility: unset;
    position: static;
    top: 0;
    right: 0;
    opacity: 1;
    transform: translateX(0);
    height: auto;
    width: auto;
  }

  .nav__btn {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    padding-inline: 2.4375rem;
    padding-top: 0;
    gap: 2em;
  }

  .nav__item {
    position: relative;
  }

  .nav__link {
    padding-block: 2.375rem;
  }

  .nav__link::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--clr-light);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  .nav__link:hover::after {
    opacity: 0.5;
  }

  .nav__link.active::after {
    opacity: 1;
  }

  .nav__link span {
    display: none;
  }
}

@media (min-width: 80rem) {
  .nav {
    position: relative;
    top: 2.5rem;
  }

  .nav__list {
    padding-inline: 10.3125rem;
  }

  .nav__link span {
    display: unset;
  }
}
