.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 66.66%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s;
}

.nav--open nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
  z-index: 5;
}

.nav-btn {
  cursor: pointer;
  z-index: 1;
}

.nav__close-btn {
  position: absolute;
  right: 2rem;
  top: -50%;
  transform: translateY(50%);
}

.nav__list {
  padding-inline: 2rem;
  padding-top: 7.375rem;
  display: flex;
  flex-direction: column;
}

.nav__link {
  font-family: var(--ff-heading);
  font-size: var(--fs-nav);
  text-transform: uppercase;
  color: var(--clr-light);
  text-decoration: none;
  letter-spacing: 2.7px;
  line-height: 1.2;
  padding-block: 1rem;
  display: block;
}

.nav__link span {
  margin-right: 0.75em;
  font-weight: 700;
}

@media (min-width: 640px) {
  .navbar {
    padding: 1.5rem 2.4375rem;
    margin-bottom: 2.5rem;
  }

  nav {
    visibility: unset;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transform: translateX(0);
    height: auto;
    width: auto;
  }

  .nav-btn {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    padding-inline: 2.4375rem;
    padding-top: 0;
    gap: 2em;
  }

  .nav__item {
    position: relative;
  }
  .nav__link {
    padding-block: 2.4375rem;
  }

  .nav__link:after {
    border-bottom: 3px solid var(--clr-light);
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  .nav__link:hover {
    opacity: 0.5;
  }

  .nav__link.active::after {
    opacity: 1;
  }

  .nav__link span {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 3.5rem 3rem;
    margin-bottom: 1rem;
  }

  nav {
    top: 2.2rem;
  }

  .nav__list {
    padding-inline: 6.85rem;
  }

  .nav__link span {
    display: unset;
  }
}
