.technology-tab {
  margin-block: 2.25rem 1.5rem;
  gap: 1rem;
}

.technology-tab-btn {
  font-size: var(--heading-4);
  font-family: var(--ff-mono);
  color: var(--text-secondary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.25);
}

.technology-tab-btn.active {
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  opacity: 1;
}

.technology-tab-btn:hover,
.technology-tab-btn:focus {
  border-color: var(--bg-secondary);
}

.technology-name {
  font-family: var(--ff-secondary);
  font-size: var(--heading-3);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.bg-technology {
  background-image: url(../../../assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 40rem) {
  .technology-page {
    margin-top: 2.5rem;
  }

  .bg-technology {
    background-image: url(../../../assets/technology/background-technology-tablet.jpg);
  }

  .technology-tab-btn {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 80rem) {
  .technology-page {
    margin-top: 7.25rem;
  }

  .bg-technology {
    background-image: url(../../../assets/technology/background-technology-desktop.jpg);
  }

  .technology-page .page-content {
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
  }

  .technology-page .preview-img {
    position: absolute;
    right: 0;
    top: 17.5rem;
    flex: 1;
    order: 3;
    align-self: center;
  }

  .technology-page .page__body {
    flex: 1;
    max-width: 470px;
  }

  .technology-page .tab {
    flex-direction: column;
    gap: 2rem;
    margin-block: 0;
  }

  .technology-tab-btn {
    width: 80px;
    height: 80px;
  }
}
