.crew-tab-btn {
  padding: 0.25em;
  opacity: 0.17;
}

.crew-tab-btn.active {
  background-color: var(--bg-light);
  opacity: 1;
}

.crew-role {
  font-family: var(--ff-headline);
  font-size: var(--fs-500);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--clr-secondary);
  opacity: 0.5;
  margin-bottom: 0.5em;
}

.crew-name,
.technology-name {
  font-family: var(--ff-headline);
  font-size: var(--fs-600);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--clr-secondary);
  margin-bottom: 0.5em;
}

.bg-crew {
  background-image: url(../../../assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 640px) {
  .bg-crew {
    background-image: url(../../../assets/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 1024px) {
  .bg-crew {
    background-image: url(../../../assets/crew/background-crew-desktop.jpg);
  }
}
