.crew-tab {
  gap: 1rem;
  margin-block: 2rem;
}

.crew-tab-btn {
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--bg-secondary);
  opacity: 0.17;
  border-radius: 50%;
}

.crew-tab-btn.active {
  opacity: 1;
}

.crew-tab-btn:hover,
.crew-tab-btn:focus {
  opacity: 0.5;
}

.crew-role {
  font-family: var(--ff-secondary);
  font-size: var(--heading-4);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-secondary);
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.crew-name {
  font-family: var(--ff-secondary);
  font-size: var(--heading-3);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.bg-crew {
  background-image: url(../../../assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 640px) {
  .bg-crew {
    background-image: url(../../../assets/crew/background-crew-tablet.jpg);
  }

  .crew-page .page-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .crew-page .underline {
    display: none;
  }

  .crew-tab-btn {
    width: 1rem;
    height: 1rem;
  }

  .crew-name {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .bg-crew {
    background-image: url(../../../assets/crew/background-crew-desktop.jpg);
  }

  .crew-page .page-heading {
    margin-block: 0;
  }

  .crew-page .page-content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .crew-page .page-content {
    position: relative;
  }

  .crew-tab {
    position: absolute;
    left: 0;
    /* bottom: 6rem; */
    /* top: 90%; */
    bottom: 10%;
    margin-block: 0;
  }

  .crew-role {
    margin-bottom: 1rem;
  }

  .crew-name {
    margin-bottom: 1.75rem;
  }

  /* .crew-description {
    max-width: 444px;
  } */

  .crew-profile {
    flex: 1.25;
  }

  .crew-img {
    flex: 1;
  }
}
