*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* * General styles ==========================================================*/
body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--text-base);
  font-weight: 400;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

/* * Typography ======================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  line-height: 1.6;
}

.page__heading {
  font-family: var(--ff-mono);
  font-size: var(--heading-5);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--clr-light);
  margin-bottom: 2rem;
}

.page__heading span {
  margin-right: 1.125rem;
  opacity: 0.25;
  font-weight: bold;
}

.page__subheading {
  font-family: var(--ff-secondary);
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.headline-text {
  font-family: var(--ff-secondary);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--clr-light);
}

/* * Utilities ============================================================*/
.btn {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
}

.page__background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* * Layout styles =========================================*/
.container {
  display: grid;
  grid-template-columns:
    1fr min(69.375rem, calc(100% - (var(--container-padding) * 2)))
    1fr;
  max-width: 96rem;
  margin-inline: auto; 
}

.container > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

.page {
  text-align: center;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab__btn {
  cursor: pointer;
}

.underline {
  background-color: var(--clr-light);
  height: 1px;
  width: 100%;
  margin-bottom: 1.5rem;
  opacity: 0.17;
}

/* .preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* * Media Queries */
@media (min-width: 40rem) {
  .page__body {
    width: 80%;
    margin-inline: auto;
  }

  .page__heading {
    text-align: left;
    margin-bottom: 3.75rem;
  }
}

@media (min-width: 80rem) {
  .page {
    text-align: left;
  }

  .page__content {
    display: flex;
    justify-content: space-between;
  }

  .page__body {
    width: 40%;
    margin-inline: 0;
  }

  .tab {
    justify-content: flex-start;
  }
}
