*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* * General styles ==========================================================*/
body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--text-base);
  font-weight: 400;
  color: var(--text-primary);
  margin-bottom: 1rem;
  /* background-color: var(--bg-dark); */
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

/* * Typography ======================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  line-height: 1.6;
}

.page-heading {
  font-family: var(--ff-mono);
  font-size: var(--heading-5);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.page-heading span {
  margin-right: 1.125rem;
  opacity: 0.25;
  font-weight: bold;
}

.page-subheading {
  font-family: var(--ff-secondary);
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.headline-text {
  font-family: var(--ff-secondary);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-secondary);
}

/* * Utilities ============================================================*/
.btn {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
}

.container {
  padding-inline: 1.5rem;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* * Layout styles */
.page {
  text-align: center;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-btn {
  /* background-color: var(--bg-secondary); */
  cursor: pointer;
}

.underline {
  background-color: var(--bg-secondary);
  height: 1px;
  width: 100%;
  margin-bottom: 1.5rem;
  opacity: 0.17;
}

.preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* * Media Queries */
@media (min-width: 640px) {
  .container {
    padding-inline: 2rem;
  }

  .page-heading {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-inline: auto;
  }

  .page {
    text-align: left;
  }

  .page-content {
    display: flex;
    justify-content: space-between;
  }

  .page__body {
    width: 40%;
  }

  .tab {
    justify-content: flex-start;
  }
}
