*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* * General styles ==========================================================*/
body {
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--clr-accent);
  /* background-color: var(--bg-dark); */
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

/* * Typography ======================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  line-height: 1.6;
}

.page-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--clr-light);
  margin-bottom: 2em;
}

.page-heading span {
  margin-right: 1.125em;
  opacity: 0.25;
}

.page-subheading {
  font-family: var(--ff-heading);
  font-size: var(--fs-300);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.headline-text {
  font-family: var(--ff-headline);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--clr-light);
}

.body-text {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: 400;
  margin-bottom: 1em;
}

/* * Utilities ============================================================*/
.btn {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
}

.container {
  padding-inline: 1.5em;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* * Layout styles */
.page {
  text-align: center;
}

.tab {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1.75em;
  margin-bottom: 1.5em;
}

.tab-btn {
  background-color: var(--bg-dark);
  border: 1px solid var(--clr-light);
  border-radius: 50%;
  cursor: pointer;
}

.underline {
  background-color: var(--clr-light);
  height: 1px;
  width: 100%;
  margin-bottom: 1.5em;
  opacity: 0.17;
}

.preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* * Media Queries */
@media (min-width: 640px) {
  .container {
    padding-inline: 2em;
  }

  .page-heading {
    text-align: left;
  }

  .body-text {
    width: 573px;
    margin-inline: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-inline: auto;
  }

  .page {
    text-align: left;
  }

  .page-content {
    display: flex;
    justify-content: space-between;
  }

  .body-text {
    width: 444px;
  }

  .tab {
    justify-content: flex-start;
  }
}
