:root {
  --bg-primary: rgba(208, 214, 249, 1);
  --bg-secondary: rgba(255, 255, 255, 1);
  --bg-dark: rgba(11, 13, 23, 1);

  --clr-primary: rgba(208, 214, 249, 1);
  --clr-secondary: rgba(255, 255, 255, 1);
  --clr-dark: rgba(11, 13, 23, 1);

  --ff-body: "Barlow", sans-serif;
  --ff-heading: "Barlow Condensed", sans-serif;
  --ff-headline: "Bellefair", serif;

  --fs-900: 5rem;
  --fs-800: 3.5rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* * Base styles */

body {
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-primary);
  background-color: var(--bg-dark);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

ul {
  list-style: none;
}

button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

/* * Typography */
.main-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2.7px;
  margin-block: 1em;
  font-weight: 400;
}

.main-heading span {
  font-family: var(--ff-headline);
  font-size: var(--fs-900);
  color: var(--clr-secondary);
  line-height: 1.25;
  display: block;
  margin-top: 0.2em;
}

.page-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--clr-secondary);
  margin-bottom: 2em;
}

.page-heading span {
  margin-right: 1.125em;
  opacity: 0.25;
}

.page-subheading {
  font-family: var(--ff-heading);
  font-size: var(--fs-300);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.headline-text {
  font-family: var(--ff-headline);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--clr-secondary);
}

.body-text {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: 400;
  margin-bottom: 1em;
}

.destination-name {
  font-size: var(--fs-800);
}

.destination-info {
  font-size: var(--fs-700);
  margin-bottom: 1.15em;
}

.crew-role {
  font-family: var(--ff-headline);
  font-size: var(--fs-500);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--clr-secondary);
  opacity: 0.5;
  margin-bottom: 0.5em;
}

.crew-name,
.technology-name {
  font-family: var(--ff-headline);
  font-size: var(--fs-600);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--clr-secondary);
  margin-bottom: 0.5em;
}

/* * Utilities */
.btn {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
}

.large-btn {
  font-family: var(--ff-headline);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.25px;
  color: var(--clr-dark);
  padding: 3em 1.5em;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  margin-block: 2em;
}

.container {
  padding-inline: 1.5em;
  margin-inline: auto;
}

/* * Navigation */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5em;
}

nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 66.66%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  padding-inline: 2em;
  padding-top: 7.375em;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s;
}

.nav-open nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.nav-btn {
  cursor: pointer;
  /* position: fixed; */
  z-index: 10;
  /* top: 2.375em; */
  /* right: 1.5em; */
  /* font-size: var(--fs-500); */
}

.nav-link {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  text-transform: uppercase;
  color: var(--clr-secondary);
  text-decoration: none;
  letter-spacing: 2.7px;
}

.nav-link span {
  margin-right: 0.75em;
  font-weight: 700;
}

/* * Layout styles */
main {
  margin-top: 6em;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--bg-dark);
}

.home,
.destination,
.crew,
.technology {
  text-align: center;
  margin-top: 6em;
}

.home {
  margin-top: 7em;
}

.tab {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 1.75em;
  margin-bottom: 1.5em;
}

.tab-btn {
  background-color: var(--bg-dark);
  border: 1px solid var(--clr-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.destination-tab-btn {
  text-transform: uppercase;
  font-family: var(--ff-heading);
  font-size: var(--fs-300);
  letter-spacing: 2.36px;
  color: var(--clr-primary);
  padding-bottom: 0.25em;
}

.destination-tab-btn.active {
  border-bottom: 3px solid var(--clr-secondary);
}

.destination-tab {
  gap: 2em;
}

.crew-tab-btn {
  padding: 0.25em;
  opacity: 0.17;
}

.crew-tab-btn.active {
  background-color: var(--bg-secondary);
  opacity: 1;
}

.technology-tab-btn {
  font-size: var(--fs-300);
  font-family: var(--ff-headline);
  color: var(--clr-secondary);
  padding: 1em 1.5em;
  opacity: 0.25;
}

.technology-tab-btn.active {
  background-color: var(--bg-secondary);
  color: var(--clr-dark);
  opacity: 1;
}

.underline {
  background-color: var(--clr-secondary);
  height: 1px;
  width: 100%;
  margin-bottom: 1.5em;
  opacity: 0.17;
}

.preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* * Media Queries */
@media (min-width: 500px) {
  .nav-btn {
    display: none;
  }

  nav {
    visibility: unset;
  }
}
