@import-normalize;

:root {
  --primary: 231 77% 90%;
  --light: 0 0% 100%;
  --dark: 230 35% 7%;

  --clr-primary: hsl(231 77% 90%);
  --clr-light: hsl(0 0% 100%);
  --clr-dark: hsl(230 35% 7%);

  --ff-primary: 'Barlow', sans-serif;
  --ff-secondary: 'Bellefair', serif;
  --ff-mono: 'Barlow Condensed', sans-serif;

  --heading-1: 5rem;
  --heading-2: 3.5rem;
  --heading-3: 1.5rem;
  --heading-4: 1rem;
  --heading-5: 1rem;
  --heading-6: 1.125rem;
  --text-xl: 1.75rem;
  --text-lg: 1.25rem;
  --text-base: 0.9375rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --padding-lg: 4.5rem;
  --padding-md: 2.5rem;
  --padding-sm: 1.5rem;

  --container-padding: 1.5rem;
}

@media (min-width: 40rem) {
  :root {
    --heading-1: 9.375rem;
    --heading-2: 5rem;
    --heading-3: 2.5rem;
    --heading-4: 1.5rem;
    --heading-5: 1.25rem;
    --heading-6: 1.125rem;
    --text-xl: 1.75rem;
    --text-lg: 1.25rem;
    --text-base: 1rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;

    --container-padding: 2.5rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --heading-1: 9.375rem;
    --heading-2: 6.25rem;
    --heading-3: 3.5rem;
    --heading-4: 2rem;
    --heading-5: 1.75rem;
    --heading-6: 1.125rem;
    --text-xl: 1.75rem;
    --text-lg: 1.25rem;
    --text-base: 1.125rem;
    --text-sm: 1rem;
    --text-xs: 0.75rem;

    --container-padding: 3.4375rem;
  }
}
