@import-normalize; /* bring in normalize.css styles */

:root {
  --bg-primary: rgba(208, 214, 249, 1);
  --bg-secondary: rgba(11, 13, 23, 1);
  --bg-accent: rgba(255, 255, 255, 1);

  --clr-primary: rgba(208, 214, 249, 1);
  --clr-secondary: rgba(11, 13, 23, 1);
  --clr-accent: rgba(255, 255, 255, 1);

  --ff-heading: "Bellefair", serif;
  --ff-sub-heading: "Barlow Condensed", sans-serif;
  --ff-body: "Barlow", sans-serif;

  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 1.125rem;
  --fs-200: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-image: url(./assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-secondary);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.6;
  color: var(--clr-primary);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

/* * Utilities */
.container {
  padding-inline: 1.5em;
  margin-inline: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}

section {
  text-align: center;
}

nav {
  display: none;
}

.heading {
  font-family: var(--ff-heading);
  font-size: 5rem;
  color: var(--clr-accent);
  line-height: 1.1;
  text-transform: uppercase;
}

.heading span {
  font-family: var(--ff-sub-heading);
  font-size: 1rem;
  letter-spacing: 2.7px;
  color: var(--clr-primary);
}

.body-text {
  font-size: 0.9375rem;
  margin-bottom: 3em;
}

.btn {
  font-family: var(--ff-heading);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: var(--clr-secondary);
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background-color: var(--bg-accent);
}
